<a href={{link1}} class="waves-effect waves-light btn">{{button1}}</a>
{{#unless loggedOut}}<a href={{link2}} class="waves-effect waves-light btn">{{button2}}</a>{{/unless}}
{{#if three}}<a href={{link3}} class="waves-effect waves-light btn">{{button3}}</a>{{/if}}

{{#if all}} 
<a href="/allpolls" class="waves-effect waves-light btn">See All Polls</a>
{{/if}} 